# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
#/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

# vagrant runtime
/.vagrant

#LEPU project ignore
*-local.php
!environments/dev/*/config/*-local.php
.system.config
*/config/*.local.ini
*/config/*_local.ini
*/runtime/
*/web/assets/
common/config/main-local.php
/environments/prod/
/runtime
/seo/sitemap/

/.dockerignore
/Dockerfile
/Dockerfile-dev
/LICENSE.txt
/README.md
/Vagrantfile
/_.gitignore
#CRM
*/crm/
/crm
vendor/bin/cssmin
vendor/mrclay/jsmin-php/tests/Resources/minify/actual/.gitkeep
backend/web/js/plugins/codemirror/mode/tcl/index.html
